<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="template1.css">
  <title>Ilk Tibbi Yardim</title>
  
</head>

<body>
        <!--         header   section      start        -->
  <section id="header">
    <div class="header-info">
      
      <div class="navbar">
        <div class="navbar-logo">
          <img src="img/logo2.png" title="our logo">
        </div>
        <div class="navbar-nav">
        <ul>
          <li>Home</li>
          <li>About Us</li>
          <li>Services</li>
          <li>Our Doctors</li>
          <li>Timetable</li>
          <li>Features</li>
          <li>Blog</li>
          <li>Contacts</li>
        </ul>
        </div>
      <div class="header-icons">
        <i class="fas fa-shopping-cart" style="margin-right: 10px;"></i>
        <i class="fas fa-search"></i>
      </div>
      </div>
    </div>

  </section>
  <!--         header   section      end        -->
  <!--         slider   section      start        -->
  <section id="slider">
  	<div class="slider-buttons"></div>
  	<div class="slider-item">
	  	<div class="slider-content">
	  		<p>NATIONALY KNOWN<br>DOCTORS</p>

	  	</div>
  	</div>
  </section>
  <!--         slider   section      end        -->

</body>
</html>



