* {
    
    box-sizing: border-box;
}
body{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}
.header-info{
  background-color: white;
  padding: 15px 0;
  color: black;
}

.navbar{
   width: 1000px;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
   /*border: 1px solid red;*/
   padding: 0px 0px;
   align-items: center;

}
.navbar-logo{
    /*border: 1px solid green;*/
    
}
.navbar-logo img{
    width:250px ;
    height:90px ;
    margin: 0px auto;
}
.navbar-nav ul{
    margin: 0px;
    padding: 0;
    display: flex;
}
.navbar-nav ul li{
  list-style: none;
  padding: 0 10px;
   /*font-size: 1.2em;20 faiz standart olcuden cox*/
   /*font-weight*/
  text-transform: uppercase;


}
.header-icons{
  margin:0px 5px;
}

/* slider  section  styles  */
#slider{
  height: 426px;
  /*border: 1px solid red;*/
  position: relative;

}

.slider-item{
  width: 100%;
  height: 100%;
  /*border: 1px solid red;*/
  background-image: url('img/slide1.jpg');
  background-size: cover;
  /*border: 1px solid green;*/
  background-repeat: no-repeat; 
  background-position:center;
  position: absolute;
  top: 0px;
  left: 0px;
}
.slider-content{
  width: 1350px;
  margin: 0 auto;
}
.slider-content p{
  background: white;
  font-size: 3em;
  width:428px;
  height: 172px;
  line-height: 60px;  
  display: flex;
  align-items: center;
  margin-left: 90px;
  margin-top: 100px;
  padding-left: 20px;
}
#introduction{
  /*border: 1px solid green;*/
  height: 260px;
  background: #F7F7F7;
}
.imgPlusQuote{
  
  /*border: 1px solid red;*/
  display: flex;
  padding: 20px 20px ;
  margin:48px 185px;

}

.quote img{
  border-radius: 50%;
  width: 120px; 
}
div.intro{
  display: flex;
  align-items: center;
  font-family: 'Newsreader', serif;
  font-size: 1.2em;
  font-weight: 400;
  color: black;
  margin-left: 10px;
  line-height: 16px;
}
.blog-container{
   border: 1px solid red;
   width: 1000px;
   margin:  auto;
   padding: auto;
   
}
.blog-row{
  display: block;

}
.blog-item{
  border: 1px solid green;
  height: 200px;
  display: inline-block;
  width: 497px;
  padding: 10px;

}
.blog-item:hover{
  background: #E0CF35;
}























