<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="template1.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Newsreader&display=swap" rel="stylesheet">
  <title>Ilk Tibbi Yardim</title>
  
</head>

<body>
        <!--         header   section      start        -->
  <section id="header">
    <div class="header-info">
      
      <div class="navbar">
        <div class="navbar-logo">
          <img src="img/logo2.png" title="our logo">
        </div>
        <div class="navbar-nav">
        <ul>
          <li>Home</li>
          <li>About Us</li>
          <li>Services</li>
          <li>Our Doctors</li>
          <li>Timetable</li>
          <li>Features</li>
          <li>Blog</li>
          <li>Contacts</li>
        </ul>
        </div>
      <div class="header-icons">
        <i class="fas fa-shopping-cart" style="margin-right: 10px;"></i>
        <i class="fas fa-search"></i>
      </div>
      </div>
    </div>

  </section>
  <!--         header   section      end        -->
  <!--         slider   section      start        -->
  <section id="slider">
  	<div class="slider-buttons"></div>
  	<div class="slider-item">
	  	<div class="slider-content">
	  		<p>NATIONALY KNOWN<br>DOCTORS</p>

	  	</div>
  	</div>
  </section>
  <!--         slider   section      end        -->
  <!-- call to introduction section start -->
  <section id="introduction">
    <div class="imgPlusQuote">
      <div class="quote">
      <img src="img/quote.jpg" alt="sekil">
      </div>
      <div class="intro">Hər hansı zədə (əzilmə, sınıq, yanıq və s.) almış və ya qəfildən xəstələnmiş şəxsin həyatını xilas etmək və sağlamlığını bərpa etmək üçün ona göstərilmiş ilk həkiməqədər yardımın böyük əhəmiyyəti vardır. Hadisə yerində ( işdə, küçədə, evdə və s.) bir sıra sadə tədbirləri yubanmadan həyata keçirməklə ağır fəsadların və xoşagəlməz nəticələrin qarşısını almaq mümkündür. İlk tibbi yardım zədələnmə yerində təcili (15 dəq) göstərilməlidir.
      </div>
    </div>
  </section>
  <!-- call to introduction section end -->
  <!-- blog section start -->
  <section id="blog">
    <div class="blog-container">

      <div class="blog-row">
        <div class="blog-item">
            <div class="blog-image">
                <img src="" alt="">
            </div>
            <div class="blog-content">
                <h3>Heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, nisi, quam dolores quae deserunt facilis voluptatum sit animi eveniet sequi voluptates in, deleniti inventore fuga aliquid rem, aut veniam consequatur?</p>
            </div>
        </div>
                <div class="blog-item">
            <div class="blog-image">
                <img src="" alt="">
            </div>
            <div class="blog-content">
                <h3>Heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, nisi, quam dolores quae deserunt facilis voluptatum sit animi eveniet sequi voluptates in, deleniti inventore fuga aliquid rem, aut veniam consequatur?</p>
            </div>
        </div>
      </div>
      <div class="blog-row">
                <div class="blog-item">
            <div class="blog-image">
                <img src="" alt="">
            </div>
            <div class="blog-content">
                <h3>Heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, nisi, quam dolores quae deserunt facilis voluptatum sit animi eveniet sequi voluptates in, deleniti inventore fuga aliquid rem, aut veniam consequatur?</p>
            </div>
        </div>
                <div class="blog-item">
            <div class="blog-image">
                <img src="" alt="">
            </div>
            <div class="blog-content">
                <h3>Heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, nisi, quam dolores quae deserunt facilis voluptatum sit animi eveniet sequi voluptates in, deleniti inventore fuga aliquid rem, aut veniam consequatur?</p>
            </div>
        </div>
      </div>
      <div class="blog-row">
                <div class="blog-item">
            <div class="blog-image">
                <img src="" alt="">
            </div>
            <div class="blog-content">
                <h3>Heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, nisi, quam dolores quae deserunt facilis voluptatum sit animi eveniet sequi voluptates in, deleniti inventore fuga aliquid rem, aut veniam consequatur?</p>
            </div>
        </div>
                <div class="blog-item">
            <div class="blog-image">
                <img src="" alt="">
            </div>
            <div class="blog-content">
                <h3>Heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, nisi, quam dolores quae deserunt facilis voluptatum sit animi eveniet sequi voluptates in, deleniti inventore fuga aliquid rem, aut veniam consequatur?</p>
            </div>
        </div>
      </div>

    </div>
  </section>

</body>
</html>



