* {
    
    box-sizing: border-box;
}
body{
    
    font-family:  'Open Sans','Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 13px;
}
/*header part start*/
#header{
  position: sticky;
  top: 0px;
  z-index: 1;
}
.header-info{
  background-color: white;
  padding: 15px 0;
  color: black;
}

.navbar{
   /*width: 1000px;*/
   margin: 0px 40px;
   display: flex;
   justify-content: space-between;
   /*border: 1px solid red;*/
   padding: 0px 0px;
   align-items: center;
}

  
.navbar-logo{
    /*border: 1px solid green;*/
    
}
.navbar-logo img{
    width:250px ;
    height:90px ;
    margin: 0px auto;
}
.navbar-nav ul{
    margin: 0px;
    padding: 0;
    display: flex;
}
.navbar-nav ul li{
  list-style: none;
  padding: 0 10px;
   /*font-size: 1.2em;20 faiz standart olcuden cox*/
   /*font-weight*/
  text-transform: uppercase;


}
.header-icons{
  margin:0px 5px;
}
/*header part end*/
/* slider  part start  */
#slider{
  height: 426px;
  /*border: 1px solid red;*/
  position: relative;

}
.slider-photo{
  width: 100%;
  height: 100%;
  /*border: 1px solid red;*/
  background-image: url('img/slide1.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position:center;
  /*position: relative;*/
  /*top: 0px;
  left: 0px;*/
}
.slider-content{
  /*margin: 0 auto;*/
}
.slider-content p{
  width:430px;
  height: 170px;
  background: white;
  font-size: 200%;/*2em;*/
  color: #303036;
  line-height: 60px;  
  display: inline-flex;
  /*align-items: center;*/
  position: absolute;
  left: 150px;
  top: 120px;
  /*border: 1px solid green;*/
  padding: 25px 80px;
}
/*slider part end*/

/*introduction part start*/
#introduction{
  /*border: 1px solid green;*/
  height: 260px;
  background: #F7F7F7;
}
.imgPlusQuote{
  
  /*border: 1px solid red;*/
  display: flex;
  padding: 20px 20px ;
  margin:48px 185px;

}

.quote img{
  border-radius: 50%;
  width: 120px; 
}
div.intro{
  display: flex;
  align-items: center;
  color: #303036; 
  font-size: 1.2em;
  font-weight: 400;
  color: black;
  margin-left: 25px;
  line-height: 16px;
}
/*introduction part end*/
/*layout part start*/
.col-2 img{
  height: 200px;
  
}
.col-4{
  padding: 0 25px;
  margin-top: -18px;
}





















