* {
    box-sizing: border-box;
    /*background: rgb(86,0,152);
    background: linear-gradient(90deg, rgba(86,0,152,1) 0%, rgba(200,8,8,1) 65%);*/
    /*background: rgb(34,8,78);
background: linear-gradient(90deg, rgba(34,8,78,1) 0%, rgba(205,18,18,1) 51%, rgba(249,249,249,1) 100%);*/
}
body{
  
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
/*header part start*/
#header{
  position: sticky;
  top: 0px;
  z-index: 1;
}
.header-info{
  background-color: white;
  padding: 15px 0;
  color: black;
  /*background: rgb(34,8,78);
  background: linear-gradient(90deg, rgba(34,8,78,0.9) 0%, rgba(205,18,18,0.9) 51%, rgba(249,249,249,0.9) 100%);*/
}

.navbar{
   /*width: 1000px;*/
   margin: 0px 40px;
   display: flex;
   justify-content: space-between;
   /*border: 1px solid red;*/
   padding: 0px 0px;
   align-items: center;
}

  
.navbar-logo{
    
}
.navbar-logo img{
    width:250px ;
    height:90px ;
    margin: 0px auto;
    /*border: 3px solid purple;*/
}
.navbar-nav ul{
    margin: 0px;
    padding: 0;
    display: flex;
}
.navbar-nav ul li{
  list-style: none;
  padding: 0 10px;
   /*font-size: 1.2em;20 faiz standart olcuden cox*/
   /*font-weight*/
  text-transform: uppercase;
}
.navbar-nav ul li:hover,.navbar-nav ul li:hover i{
   color: #00bcd4;
   cursor: pointer;
   transition: .33s all ease;
}
.header-icons{
  margin:0px 5px;
}
.fa-chevron-down {
  color: gray;
}
/*header part end*/
/* slider  part start  */
#slider{
  height: 426px;
  /*border: 1px solid red;*/
  position: relative;

}
.slider-photo{
  width: 100%;
  height: 100%;
  /*border: 1px solid red;*/
  background-image: url('../img/slide1.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position:center;
  /*position: relative;*/
  /*top: 0px;
  left: 0px;*/
}
.slider-content{
  /*margin: 0 auto;*/
}
.slider-content p{
  width:430px;
  height: 170px;
  background: white;
  font-size: 200%;/*2em;*/
  color: #303036;
  line-height: 60px;  
  display: inline-flex;
  /*align-items: center;*/
  position: absolute;
  left: 150px;
  top: 120px;
  /*border: 1px solid green;*/
  padding: 25px 80px;
}
/*slider part end*/

/*introduction part start*/
#introduction{
  /*border: 1px solid green;*/
  height: 260px;
  background: #F7F7F7;
}
.imgPlusQuote{
  
  /*border: 1px solid red;*/
  display: flex;
  padding: 20px 20px ;
  margin:48px 185px;

}

.quote img{
  border-radius: 50%;
  width: 120px; 
}
div.intro{
  display: flex;
  align-items: center;
  color: #303036; 
  font-size: 1.2em;
  font-weight: 400;
  color: black;
  margin-left: 25px;
  line-height: 16px;
}
/*introduction part end*/
                                  /*layout part start*/
.row{
  width: 100%;
}                                  
.col-6{
  display: flex;
  margin: auto;
  transition: all 1s ease;
  width: 80%;
}
.col-6:hover{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  /*background: #77031E;*/
  cursor: pointer;
  color: white;
}

div .col-2{
  height: 200px;
  width:135px;
}
.col-2 img{
  height: 200px;
  width:135px;
  object-fit: cover;

}
.blog-content{
  padding: 0 25px;
}
.blog-content h3{
  margin-top: 0px;
}
/*appointment section styles*/
.column{
  margin:30px 10px;
  width: calc(100%/3);
  /*width: 100%;*/
}
.column h2{
  font-size: 20px;
  color: #284b80;
  font-weight: normal;
}
.column h4{
  color: #999999;
  font-weight: normal;
}
hr{
  height: 1px;
  border: none;
  background-color: #EFEAEA;
}
.point input{
  color: #575757;
  background: #EFE6E6;
  border: none;
  width: 305px;
  height: 45px;
  margin-top: 10px;
  outline: none;
}
.point input:focus{
  border: 1px solid gray;
}
.point select{
  width: 185px;
  height: 32px;
}
.point button{
  color: white;
  background: #3498db;
  width: 135px;
  height: 40px;
  border: none;
  margin: 30px auto;
  text-align: center;
}

.point button:hover{
  background: #0786C1;
  cursor: pointer;
}
.column img{
  height: 115px;
  width: 282px;
  object-fit: cover;
}
.column a{
   text-decoration: none;
}
a{
  color: #179BD8;
  text-decoration: none;
}
/*footer section styles*/
#footer{
  background: #F5F5F5;
}
.col-3{
  margin: 10px 5px;
  width: calc(100%/4);
}
.col-3 h3{
   font-size: 14px;
   color: #444444;
   font-weight: 600;
}
div i{
  margin-right: 5px;
  color: #284B80;
}
.col-3 div{
  color: #999999;
  margin: 10px auto;
  line-height: 25px;
}











