* {
    box-sizing: border-box;
    /*background: rgb(86,0,152);
    background: linear-gradient(90deg, rgba(86,0,152,1) 0%, rgba(200,8,8,1) 65%);*/
    /*background: rgb(34,8,78);
background: linear-gradient(90deg, rgba(34,8,78,1) 0%, rgba(205,18,18,1) 51%, rgba(249,249,249,1) 100%);*/
}
body{
  
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
/*header part start*/
#header{
  position: sticky;
  top: 0px;
  z-index: 1;
}
.header-info{
  background-color: white;
  padding: 15px 0;
  color: black;
}
.navbar{
 /*width: 1000px;*/
 margin: 0px 40px;
 display: flex;
 justify-content: space-between;
 /*border: 1px solid red;*/
 padding: 0px 0px;
 align-items: center;
}
.fa-bars{
  display: none;
}
  
.navbar-logo{
    
}
.navbar-logo img{
    width:250px ;
    height:90px ;
    margin: 0px auto;
    /*border: 3px solid purple;*/
}
.navbar-nav ul{
    margin: 0px;
    padding: 0;
    display: flex;
}
.navbar-nav ul li{
  list-style: none;
  padding: 0 10px;
   /*font-size: 1.2em;20 faiz standart olcuden cox*/
   /*font-weight*/
  text-transform: uppercase;
}
.navbar-nav ul li:hover,.navbar-nav ul li:hover i{
   color: #00bcd4;
   cursor: pointer;
   transition: .33s all ease;
}
.header-icons{
  margin:0px 5px;
}
.fa-chevron-down {
  color: gray;
}
/*header part end*/
/* slider  part start  */
#slider{
  height: 426px;
  /*border: 1px solid red;*/
  position: relative;

}
.slider-photo{
  width: 100%;
  height: 100%;
  /*border: 1px solid red;*/
  background-image: url('../img/slide1.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position:center;
  /*position: relative;*/
  /*top: 0px;
  left: 0px;*/
}
.slider-content{
 /* position: relative;*/
}
.slider-content p{
  width:430px;
  height: 170px;
  background: white;
  font-size: 200%;/*2em;*/
  color: #303036;
  line-height: 60px;  
  display: inline-flex;
  /*align-items: center;*/
  position: absolute;
  left: 150px;
  top: 120px;
  /*border: 1px solid green;*/
  padding: 25px 80px;
}
/*slider part end*/

/*introduction part start*/
#introduction{
  /*border: 1px solid green;*/
  height: 260px;
  background: #F7F7F7;
}
.imgPlusQuote{
  display: flex;
  padding: 20px 20px ;
  margin:48px 185px;
}
.quote img{
  border-radius: 50%;
  width: 120px; 
}
div.intro{
  display: flex;
  align-items: center;
  color: #303036; 
  font-size: 1.1em;
  font-weight: 400;
  color: black;
  margin-left: 25px;
  line-height: 16px;
}
/*introduction part end*/
                                  /*layout part start*/
.blog-row{
  display: grid;
  grid-column-gap: 30px;
}
.blog-content h4{
  margin: 0px;
}
.col-6{
  display: flex;
  margin: auto;  
  transition: all 1s ease;      
}
.col-6:hover{
  background: linear-gradient(0.25turn, #3f87a6,#60b1d6, white,white);
  background-position:130px; 
  cursor: pointer;
  color: #00074C;
}

div .col-2{
  height: 200px;
  width:135px;
}
.col-2 img{
  height: 200px;
  width:135px;
  object-fit: cover;

}
.blog-content{
  padding: 0 25px;
}
.blog-content h3{
  margin-top: 0px;
}
/*appointment section styles*/
.column{
  margin:30px 10px;
  width: calc(100%/3);
  /*width: 100%;*/
}
.column h2{
  font-size: 20px;
  color: #284b80;
  font-weight: normal;
}
.column h4{
  color: #999999;
  font-weight: normal;
}
hr{
  height: 1px;
  border: none;
  background-color: #EFEAEA;
}
.point input{
  color: #575757;
  background: #EFE6E6;
  border: none;
  width: 305px;
  height: 45px;
  margin-top: 10px;
  outline: none;
}
.point input:focus{
  border: 1px solid gray;
}
.point select{
  width: 185px;
  height: 32px;
}
.point button{
  color: white;
  background: #3498db;
  width: 135px;
  height: 40px;
  border: none;
  margin: 30px auto;
  text-align: center;
}

.point button:hover{
  background: #0786C1;
  cursor: pointer;
}
.column img{
  height: 115px;
  width: 282px;
  object-fit: cover;
}
.column a{
   text-decoration: none;
}
a{
  color: #179BD8;
  text-decoration: none;
}
                          /*insult section styles(about.html)*/                          
.about-blog{
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0px 40px;
}
.sidebar,.about-blog{
  /*border: 1px solid green;*/
  font-size: 1.1em;
}
.about-text{
  padding-right: 30px;
}
.sidebar h5{
  padding: 10px;
  margin: 0px;
}
.sidebar h5:hover{
  
  background: linear-gradient(0.25turn,#d7ebf7,#b1dffa,#91d6ff,#b1dffa,#d7ebf7);
  background-position:250px; 
  border-radius: 15px;
  cursor: pointer;
  
  transition: all 1s ease;
}
.sidebar h5 a{
  color: #013757;
}
.about-text h1{
  color: #010638;
}
.insultulibka{
  display: flex;
  justify-content: space-between;
  width: 780px;
}
.insultulibka img{
  width: 40%;
  object-fit: cover;
}
.el{
  width: 780px;
  display: flex;
  justify-content: space-between;
}
.el img{
  width: 30%;
  height: 275px;
}
.dil img{
  height: 230px;
}
/*infarkt section styles(about.html)*/
.about-text span{
  color: #E00606;
  font-weight: bold;
}
.sine-kurek img,.nebz img{
  height: 200px;
  width: 40%;
  object-fit: cover;
  border-radius: 10px;
}














                               /*comment section styles(about.html)*/

.comment-content h1{
    text-align: left;
    margin-left: 0px;
}
.comment-content hr{
  width:462px;
  margin-left: 0px; 
}
.comment-content {
    padding: 105px;
}
.comment-content input{
    width: 462px;
    height: 45px;
    border: 1px solid #D3D3D3;
    margin-top: 20px;
    outline: none;
}
.comment-content input:focus{
  border: 1px solid gray;
}
.comment-content textarea{
    width: 462px;
    height: 215px;
    margin-top: 20px;
    border: 1px solid #D3D3D3;
}
.btn{
    width: 142px;
    height: 44px;
    background: #00bcd4;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 40px;
    
}
.btn:hover{
    color: white;
    background: black;
    transition: .33s all ease;
}
                               /*footer section styles*/
#footer{
  background: #F5F5F5;
}
.col-3{
  margin: 10px 5px;
  width: calc(100%/4);
}
.col-3 h3{
   font-size: 14px;
   color: #444444;
   font-weight: 600;
}
div i{
  margin-right: 5px;
  color: #284B80;
}
.col-3 div{
  color: #999999;
  margin: 10px auto;
  line-height: 25px;
}
#ipad{
  display: none;
}
/*device styles*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) /*ipad*/
{
  #header{
    width: 768px;
    height: 50px;
    margin: 0 auto;
    position: relative;
  }
  .navbar-nav,.header-icons,.intro{
    display: none;
  }
  .navbar-logo img{
    max-height: 50px;
    width: 160px;
  }
  
  .fa-bars{
    display: initial;
  }
  .fa-bars:hover{
    cursor: pointer;
  }
  .container{
   
    width: 100%!important;
  }
  .slider-photo{
    width: 768px;
    height: 783px;
  }
  .slider-content p{
    position: absolute;
    top: 338px;
    left: 0px; 
    width: 331px;
    height: 140px;
    font-size: 25px;
    line-height: 50px; 
    padding:20px 39px;
  }
  .container{
    max-width: 1010px;
    padding-left: 40px !important;
    padding-right: 40px !important;

  }
  .blog-row{
    margin-top: 100px !important;
    grid-column-gap: initial;
  }
  .col-2{
    display: block !important;
    
  }
  
  .col-6{
    display: block !important;

  }
  .col-2 img{
    height: 338px;
    width: 252px;
    border-radius: 5px;
    vertical-align: middle;
    position: relative;
    left: 31%;
  }

  .blog-content{
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    margin-top: 150px;
    font-size: 20px;

  }
  .col-6:hover{
    background: none;
  }
  .pre-footer{
    display: block !important;
    width: 494px;
    height: 688px;
    
  }
  .column{
    width: 494px;
    height: 558px;
  }
  .column form{
    width: 494px;
    height: 688px;
  }
  .point input {
    color: #575757;
    background: #EFE6E6;
    border: none;
    width: 678px;
    height: 40px;
    margin-top: 25px;
    outline: none;
  }
  .point select{
    margin-top: 15px;
  }
  #header{
    position: sticky;
    top: 0px;
  }
  .column {
    margin: 50px 10px;
    font-size: 17px;
    width: 678px;

  }
  #footer,.col-3{
    display: none;
  }
  .useinfo{
    margin-top: -105px;
  }
  .request{
    margin-top: 0px;
  }

  .grid{
    display: grid;
    grid-template-columns: 344px 344px;
    grid-auto-rows: 329px;
    position: relative;
    top: 937px;
    padding: 40px;
    background: #F5F5F5;
  }
  .grid i{
    margin-right: 5px;
    color: #284B80;
  }

}









