body{
    margin: 0px;
}
/*common classes*/
hr{
    width: 50px;
    height: 1px;
    border: none;
    background-color: #0EBFD6;
}
/*common classes end*/
.col-12{
    
    background: url(img/8.jpg) center no-repeat;
    background-size: cover;
    height: 357px;
    width: 100%;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 85px;
    text-align: center;
}
.content p{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.content hr{
    height: 1px;
    background-color: #0EBFD6;
    border: none;
    width: 30px;
}
.button button{
    width: 142px;
    height: 44px;
    background: white;
    color: black;
    cursor: pointer;
    border: none;
    margin-top: 40px;
}
.button button:hover{
    color: white;
    background: black;
}
/*new section styles*/
.col-4{
    width: 365px;
    height: 555px;
}
#team h1{
    text-align: center;
    margin-top: 80px; 
}
.team-image img{
    height: 250px;
    width:100%;
    object-fit: cover;
}
.team-text{
    text-align: center;
}
.team-text i{
    color: #0EBFD6;
}
.team-text h3{
    color: #4B4F4F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.team-text h3:hover{
    color: #0EBFD6;
    cursor: pointer;
    transition: .33s all ease;
}
.team-text p{
    line-height: 27px;
    color: #726E6A;
}
/*comment section styles*/
.comment-image img{
    height: 721px;
    width: 682px;
    object-fit: cover;
}
.box .row{
   justify-content: initial;

}
.col-6{
    background-color: #F8F8F8;
    width: 50%;
}
.quote-content hr,h1{
    text-align: left;
    margin-left: 0px;
}
.quote-content {
    padding: 105px;
}
.quote-content input{
    width: 462px;
    height: 45px;
    border: 1px solid #D3D3D3;
    margin-top: 20px;
}
.quote-content textarea{
    width: 462px;
    height: 215px;
    margin-top: 20px;
    border: 1px solid #D3D3D3;
}
.btn{
    width: 142px;
    height: 44px;
    background: #00bcd4;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 40px;
    
}
.btn:hover{
    color: white;
    background: black;
    transition: .33s all ease;
}













