{% extends 'base-about.html' %}

{% block body %}

<!-- blog section start -->
  <section id="Siniq">
    <div class="about-blog">
      <div class="about-text">
        <h1>SUDA BOĞULMA</h1>
        <p>Suda boğulma təsadüfi ölüm hallarının əsas səbəblərindən biridir. Statistikaya əsasən hər il dünyada 150000-
            dən çox bu növ ölüm hallarına rast gəlinir. Kişilər arasında boğulma riski qadınlarla müqayisədə 6 dəfə artıqdır.
            Bu, kişilərin suda daha yüksək riskli fəaliyyəti və davranışı ilə əlaqədardır. Dəniz sahili, göllər, çaylar, kanallar,
            suvarma qurğuları suda boğulma hadisələrinin baş verdiyi əsas yerlərdir. Üzməyi bacarmayan, pis üzən və suyun
            üzündə dincələ bilməyənlər suda boğulma halları ilə daha çox rastlaşırlar. Suda boğulanların çox hissəsini uşaqlar
            təşkil edir. Böyüklərin nəzarətindən kənar qalan uşaqlar daha tez-tez suda boğulma təhlükəsi ilə qarşılaşırlar.</p>
        <h3>Suda boğulmada ölümün əsas səbəbləri:</h3>
          <ul>
            <li>suyun ağciyərlərə aspirasiyası və səs tellərinin spazması nəticəsin-də tənəffüsün dayanması</li>
            <li>zədəyə (zərbə, suya qəfləti yıxılma) reflektor reaksiya və soyuq suya düşərkən ruhi sarsıntıdan (qorxu hissi, əlacsızlıq) ürəyin qəfləti dayanması</li>
            <li>suda, hətta sahildə həddindən artıq bədənin soyuması nəticəsində huşun tədricən itməsi (hipotermik koma)</li>
          </ul>
        <div class="sine-kurek"><img src="static/img/drowning.jpg" alt=""></div>
        <p><i class="fas fa-chevron-right"></i>Suda çətinliklərlə üzləşmiş insanı ayırd etməyi bacarmaq onun həyatını xilas etmək üçün ilkin addımdır. Su-da batanların çoxunun ətrafda olan insanları köməyə çağırmaq üçün (qışqırmaqla, çığırmaqla) imkanları olmur. Onlar bütün enerjilərini yalnız başlarını suyun üzündən yuxarıda tutmağa sərf edirlər.</p>
        <p><i class="fas fa-chevron-right"></i>Aktiv boğulan insan suda şaquli vəziyyətdə olub heç bir köməkçi və üzmə hərəkəti etmək qabiliyyətinə malik olmur. Passiv vəziyyətdə boğulan insan isə üzüaşağı halda suyun dibində və ya suyun səthinə yaxın yerdə qalır.</p>
        <h3>SUDA BOĞULMA ZAMANI İLK YARDIM</h3>
        <p><i class="fas fa-chevron-right"></i>Vaxtında və düzgün ilk yardım göstərməklə suda boğulanı xilas etmək mümkündür. Suda boğulmanın ilk dəqiqələrində zərərçəkənlərin 90%-ni, 6–7 dəqiqədən sonra isə yalnız 1–3%-ni xilas etmək mümkündür.</p>
        <p><i class="fas fa-chevron-right"></i>Bədbəxt hadisələr zamanı ilk yardım göstərilməsinin şərtləri həyat fəaliyyətini təmin edən əsas tədbirlər olan DRCABD alqoritminin yerinə yetirilməsidir.</p>
        <div class="sine-kurek"><img src="static/img/drown.jpg" alt=""></div>
        <p><i class="fas fa-chevron-right"></i>Yardım göstərərkən xilasedici <a href="">DRCABD</a> alqoritmini ardıcıl olaraq mərhələ-mərhələ yerinə yetirməlidir: “Diqqət təhlükə!”; “Reaksiya (huşu qiymətləndirmək, huş itibsə köməyə çağırmaq)”, “Canlandırma – qan dövra-nının bərpası”, “Açıq tənəffüs yolları”, “Birbaşa nəfəs vermək” və “Defibrilyasiya” mərhələsi.</p>
        <p><i class="fas fa-chevron-right"></i>Əgər zərərçəkənin huşu aydındırsa, sərbəst nəfəs alıb danışırsa, ona heç bir yardım lazım deyil. Sahilə çıxarıldıqdan sonra zərərçəkəndə hipotermiya olarsa o, aktiv isidilməlidir.</p>
        <p><i class="fas fa-chevron-right"></i>Bir neçə dəqiqə suda hərəkətsiz və üzü aşağı qalan zərərçəkən çox güman ki, huşunu itirib. Zərərçəkən huşunu itiribsə, əlavə kömək çağırıb, təcili tibbi yardım xidmətini aktivləşdirin. Hadisə yerində iki xilasedici olarsa, biri huşunu itirmiş zərərçəkəni arxası üstə çevirib suda saxlayır, digəri isə onun tənəffüs yollarını açıb iki uğurlu nəfəs verməklə, sahilə çıxarılana qədər hər 5–7 san bir nəfəsverməni təkrar edir. Sahildə ÜAR (ürək-ağciyər reanimasiyası) davam etdirilməli və zərərçəkən aktiv isidilməlidir. Xilasedici tək olduqda yuxarıda göstərilənləri özü tək icra etməlidir.</p>
        <p><i class="fas fa-chevron-right"></i>İlk anlarda su çox vaxt ağciyərlərə aspirasiya olunmur, olunduqda belə tənəffüs yollarının yuxarı hissəsində və traxeyada bədənə sorulur. Su bərk yad cisim olmadığına görə tənəffüs yollarını tutmur. Ona görə də hipoksiya-nı aradan qaldırmaq üçün dərhal suyun içində süni tənəffüs vermək xüsusilə vacibdir. Bəzi ədəbiyyatlarda ÜAR (ürək-ağciyər reanimasiyası) aparmazdan əvvəl zərərçəkənin mədəsinə dolmuş suyun tənəffüs yollarına tökülmə ehtimalını azaltmaq üçün 10 saniyə ərzində başın aşağı tutulması (iki əllə çanaqdan tutub qaldırmaq və ya zərərçəkəni bud-diz və ya çiyin nahiyəsinə qarnı üstə qoymaq) məsləhət görülür. Suda boğulma təhlükəsi ilə qarşılaşan insanın tənəffüs yollarına və mədəsinə yığılmış suyun xaric edilməsinə vaxt itirib, ÜAR-ın (ürək-ağciyər reanimasiyasının) aparılmasını ləngitməyin.</p>
        <a href="/posts/7/update" class="btn">Düzəliş et</a>
      </div>
        {% include "sidebar.html" %}
    </div>
  </section>
  <!-- blog section end -->

{% endblock %}