{% extends 'base-about.html' %}

{% block body %}

<!-- blog section start -->
  <section id="insult">
    <div class="about-blog">
      <div class="about-text">
        <h1>Aşağıdakı simptomlara əsasən insultun baş verməsindən şübhələnmək lazımdır:</h1>
        <p><i class="fas fa-chevron-right"></i>Insani danisdirin,komeye ehtiyyaci olub olmadigini sorusun,cavab vermeyine diqqet edin.Anlasilmaz surətdə danışırsa,"dili dolasirsa",ve ya hec cavab vere bilmirse insultdan şübhələnə bilərsiz</p>
        <p><i class="fas fa-chevron-right"></i>Gulumsemeyi teleb edin,cetinlik cekecek,gulusu eyri olacaq ve ya hec gulumseye bilmeyecek</p>
        <div class="insultulibka">
          <img src="static/img/insultulibka.jpg" alt="insultda gülümsəmə">
          <img src="static/img/insult2.jpg" alt="insultda ağız əyilməsi">
        </div>
        <p><i class="fas fa-chevron-right"></i>Ellerini qaldirmagi teleb edin ve ya el sixin.Bir el obirinnen geri qalacaq,az qalxacaq.Elini sixdiqda ise sizin elinizi sixa bilmeyecek ve ya zeif sixacaq.</p>
        <div class="el">
          <img src="static/img/el.jpg" alt="">
          <img src="static/img/elqalxma.jpg" alt="">
        </div>
        <p><i class="fas fa-chevron-right"></i>Dilini cixarmasini teleb edin.Yan terefe eyilecek.</p>
        <div class="dil"><img src="static/img/dil.jpg" alt=""></div>
        <h1>Nə etmək lazımdır?</h1>
        <p><i class="fas fa-chevron-right"></i>Derhal tecili tibbi yardim cagirin.</p>
        <p><i class="fas fa-chevron-right"></i>Husu yoxdursa,ama nefes alirsa tehlukesiz yere kecirdin ve TTY gelene qeder nefesine nezaret edin.Qeyd:xesteye yemek ve ya icmek teklif etmek olmaz(udma refleksi pozulmus ola biler ve verdiyiniz qida nefes borusuna kece biler</p>
        <p><i class="fas fa-chevron-right"></i>nefes almirsa urek massaji ve <a href="">suni teneffus(CRP)</a> hereketlerine baslayin</p>
        <a href="/posts/6/update" class="btn">Düzəliş et</a>
      </div>
      {% include "sidebar.html" %}
    </div>
  </section>
  <!-- blog section end -->

{% endblock %}