{% extends 'base-about.html' %}

{% block body %}
  <!-- blog section start -->
  <section id="Tixac">
    <div class="about-blog">
      <div class="about-text">
        <h1>Yuxarı nəfəs yollarının tıxaclanması və boğulma</h1>
        <p><i class="fas fa-chevron-right"></i>Tıxaclanma tam və ya hissəvi ola bilər.Hissəvi tıxaclanmada zərər çəkən oskurə bilir,ses cıxarda bilir və çətin olsada nəfəs ala bilir.</p>

        <p><i class="fas fa-chevron-right"></i>Yad cisim nəfəs borusunu tam tutduqda isə zərər çəkən nəfəs ala bilmir,səsini cıxarda bilmir.</p>
        <h1>Nə etmək lazımdır?</h1>
        <p><i class="fas fa-chevron-right"></i>Hissəvi tıxaclanma müşahidə edilirsə sadəcə zərər çəkənə bol-bol öskürməyi məsləhət görün,kürəyinə vurmaq o qədərdə vacib deyil. </p>
        <h4>Tam tıxaclanma müşahidə edilirsə:</h4>
        <p><i class="fas fa-chevron-right"></i>Xəstə ayaq üstə və ya oturaq vəziyyətdə ola bilər.Xəstənin yanına və ya arxasına keçib bir əlimiznən sinəsini dəstəkləyərək önə ayirik.Digər əlimiznən sürətli səkildə kürək nahiyyəsinə 5 dəfə vururuq</p>
        <div class="sine-kurek">
          <img src="static/img/oskurek.jpg" alt="">
          <img src="static/img/oskur.jpg" alt="">
        </div>
        <h4>Nəfəs yollarını bir daha kontrol edirik,açılmayıbsa: </h4>
        <p><i class="fas fa-chevron-right"></i>Xəstənin arxasına keçirik.Bir əlimizi yumruq edib qarın nahiyyəsinə qoyuruq,digər əlimizidə yumruğumuzun üstunə qoyuruq.Xəstəni biraz önə əyərək suretli ve möhkəm şəkildə 5 dəfə qarnına basırıq(istiqamət:içəri və yuxarı)</p>
        <div class="oskurek">
          <img src="static/img/1.webp" alt="">
          <img src="static/img/2.webp" alt="">
          <img src="static/img/3.webp" alt="">
        </div>
        <p><i class="fas fa-chevron-right"></i>Etdiyiniz hərəkətlər heç bir nəticə vermədisə və xəstə huşunu itirməyə başlayıbsa dərhal təcili tibbi yardım cağırın!</p>
        <p><i class="fas fa-chevron-right"></i>TTY gələnə qədər xəstəni nəzarətdə saxlamağa davam edin,nəbzini yoxlayın.Nəbz yoxdursa urək massajı və <a href="">süni tənəffüs(CRP)</a> hərəkətlərinə başlayın.</p>
        <a href="/posts/2/update" class="btn">Düzəliş et</a>
      </div>
        {% include "sidebar.html" %}
    </div>
  </section>
  <!-- blog section end -->

{% endblock %}