{% extends 'base-about.html' %}

{% block body %}

<!-- blog section start -->
  <section id="Siniq">
    <div class="about-blog">
      <div class="about-text">
        <h1>QICOLMALAR</h1>
        <p><i class="fas fa-chevron-right"></i>Qıcolmalar (tutmalar) beyin fəaliyyətinin kəskin pozulması nəticəsində huşun itməsinə və əzələ-hərəkət gərginliyi ilə müşayiət olunan hallara deyilir.Beyinin bəzi hissələrinin aktivliyi nəticəsində bir qrup əzələlərdə gərginlik artır,onlar yığılır və bu vəziyyətdə bir müddət qalır. Belə hallar bəzən bərk ağrılarla müşayiət olunur və xəstəyə əziyyət verir. </p>
        <p><i class="fas fa-chevron-right"></i>Xalq arasında buna “özündəngetmə”, “ürək keçmə”, “tutma”, “müqəddəs xəstəlik”, “yıxılma xəstəliyi” və başqa bu kimi adlar verilmişdir. Heç də bütün qıcolmalara epilepsiya xəstəliyi demək olmaz.</p>

        <div class="sine-kurek"><img src="static/img/tutma1.jpg" alt=""></div>
        <h3>Qıcolmalar niyə yaranır?</h3>
        <div>Yaranma səbəbləri:</div>
        <div class="epilepsy-ul">
          <ul>
            <li>epilepsiya</li>
            <li>yüksək qızdırma(adətən uşaqlarda)</li>
            <li>infeksiyalar</li>
            <li>spirtli içkilər, kimyəvi və narkotik maddələrlə zəhərlənmələr</li>
            <li>baş beyinin travması,beyində oksigen çatışmazlığı</li>
            <li>beyin şişləri</li>
            <li>qanda şəkərin miqdarının aşağı düşməsi və s.</li>
          </ul>
        </div>
        <h3>Qıcolma necə olur?</h3>
        <p><i class="fas fa-chevron-right"></i>Qıcolmalar 2–3 dəqiqə davam edərək, xırıltı, sifətin göyərməsi, qeyri-iradi sidik ifrazı, dilin dişlənməsi,ağızdan köpük ifraz edilməsi ilə müşayiət olunur. Qıcolma zamanı xəstə yerə yıxılıb, baş beyin travması ala bilər,qusa bilər və huşunu itirdiyinə görə tənəffüs yolları mədə möhtəviyyatı ilə tutula bilər.</p>
        <p><i class="fas fa-chevron-right"></i>Qıcolmalar xəstənin həyatı üçün nadir hallarda (tənəffüsün dayanması zamanı) təhlükə yaradır.</p>
        <p><i class="fas fa-chevron-right"></i>Tutma qurtardıqdan sonra xəstə baş verənləri xatırlamır.</p>
        <h3>Qıcolmada ilk tibbi yardım necə aparılmalıdır?</h3>
        <div>
          <ul>
            <li>Qıcolma vaxtı xəstə yıxılıb, xəsarət ala bilər (baş beyin travması, yanıq, kəsilmiş yaralar və s). Buna görə,mümkündürsə, onun başını yıxılan zaman tutmağa çalışın. </li>
            <li>Tənəffüs yollarının mədə möhtəviyyatı ilə tutulmaması üçün qusan xəstənin başını yana çevirin</li>
            <div class="sine-kurek"><img src="static/img/tutma.jpg" alt=""></div>
            <li><b style="color: #AF0202">Xəstənin ağzına barmaqlarınızı salmayın!</b></li> <p>Xəstənin dişləri ağıza salınan yad cisimi (o cümlədən barmaqları)sındıra bilər və bu yad cisim xəstənin tənəffüs yollarını tuta bilər. Ağız boşluğuna qaşıq və ya ayrı alətlərlə müdaxilə etmək xəstənin əlavə xəsarət almasına səbəb olur (dişlərin sınması, dilin və ağızın yaralanması).</p>
            <li>Xəstənin ətraflarını və bədənini düzəltməyə cəhd etməyin!</li>

            <li>Xəstənin boynunu, sinəsini və belini sıxan paltarları açın, boşaldın,başının altına çox hündür olmayan yumşaq bir əşya qoyun.</li>
            <li>Xəstənin tənəffüsü sərbəstdirsə, onda təhlükə gözlənilmir və xəstəyə müdaxilə etmək lazım deyil (ağzını məcburi açmaq, dilini bayıra çıxartmaq və s.)</li>
            <li>Xəstə göyərirsə, deməli, tənəffüs yolları tutulub, o, nəfəs almır və orqanizm oksigenlə təmin olunmur. Oksigen çatışmazlığı nəticəsində huş itir, qıcolmalar qurtarır, əzələlər süstləşir. Ancaq qıcolmalar qurtardıqdan sonra tənəffüs yollarını açmaq üçün başın arxaya əyilməsi, çənənin irəli qaldırılması mümkün olur.</li>
            <li>Zərərçəkən 10 dəqiqədən çox huşunu itirərsə, qıcolmalar təkrarlanarsa və ya bu cür tutma ilk dəfədirsə,təcili tibbi yardım xidmətini aktivləşdirin</li>
          </ul>
        </div>
        <a href="/posts/5/update" class="btn">Düzəliş et</a>
      </div>
        {% include "sidebar.html" %}
    </div>
  </section>
  <!-- blog section end -->

{% endblock %}