{% extends 'base.html' %}

{% block title %}
This is create-article page
{% endblock %}

{% block body %}
<div class="container mt-5">
<h1>Kitab əlavə et</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Book Name"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Price"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Author"></textarea><br>
        <input type="submit" class="btn btn-success" value="Əlavə Et">
    </form>
</div>
{% endblock %}