<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="template.css">
    <link rel="stylesheet" type="text/css" href="layout.css">
    <title>Ilk Tibbi Yardim</title>
  
</head>

<body>
        <!--         header   section      start        -->
  <section id="header">
    <div class="header-info">
      
      <div class="navbar">
        <div class="navbar-logo">
          <img src="img/logo2.png" title="our logo">
        </div>
        <div class="navbar-nav">
        <ul>
          <li>Home</li>
          <li>About Us</li>
          <li>Services</li>
          <li>Our Doctors</li>
          <li>Timetable</li>
          <li>Features</li>
          <li>Blog</li>
          <li>Contacts</li>
        </ul>
        </div>
      <div class="header-icons">
        <i class="fas fa-shopping-cart" style="margin-right: 10px;"></i>
        <i class="fas fa-search"></i>
      </div>
      </div>
    </div>

  </section>
  <!--         header   section      end        -->
  <!--         slider   section      start        -->
  <section id="slider">
      	<div class="slider-photo"></div>
      	<div class="slider-content">
      		<p>NATIONALLY KNOWN<br>DOCTORS</p>
        </div>
  </section>
  <!--         slider   section      end        -->
  <!-- call to introduction section start -->
  <section id="introduction">
    <div class="imgPlusQuote">
      <div class="quote">
      <img src="img/quote.jpg" alt="sekil">
      </div>
      <div class="intro">Hər hansı zədə (əzilmə, sınıq, yanıq və s.) almış və ya qəfildən xəstələnmiş şəxsin həyatını xilas etmək və sağlamlığını bərpa etmək üçün ona göstərilmiş ilk həkiməqədər yardımın böyük əhəmiyyəti vardır. Hadisə yerində ( işdə, küçədə, evdə və s.) bir sıra sadə tədbirləri yubanmadan həyata keçirməklə ağır fəsadların və xoşagəlməz nəticələrin qarşısını almaq mümkündür. İlk tibbi yardım zədələnmə yerində təcili (15 dəq) göstərilməlidir.
      </div>
    </div>
  </section>
  <!-- call to introduction section end -->
  <!-- layout blog section start -->
  <section id="blog">
    <div class="container">
    <div class="row">
      <div class="col-2">
        <img src="img/layout1.jpg">
        </div>
      <div class="col-4">
         <h3>Diagnosis With Precise</h3>
             <h4>Industry leading examination of symptoms</h4>
             <p>Pellentesque habitant morbi tristique senectus netus et malesuada fames ac turpis egestas. Donec aliquet posuere vulputate. Aliquam malesuada tortor quis magna pretium sit amet rhoncus risus pretium.
             </p>
      </div>
      <div class="col-2">
        <img src="img/layout1.jpg">
      </div>
      <div class="col-4">
         <h3>Rehabilitation Therapy</h3>
             <h4>Industry leading examination of symptoms</h4>
             <p>Tənəffüs yoluna yad cismin düşməsi zamanı göstəriləcək ilk yardım qaydaları.Pellentesque habitant morbi tristique senectus netus et malesuada fames ac turpis egestas. Donec aliquet posuere vulputate.
             </p>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <img src="img/layout1.jpg">
      </div>
      <div class="col-4">
         <h3>Diagnosis With Precise</h3>
             <h4>Industry leading examination of symptoms</h4>
             <p>Pellentesque habitant morbi tristique senectus netus et malesuada fames ac turpis egestas. Donec aliquet posuere vulputate. Aliquam malesuada tortor quis magna pretium sit amet rhoncus risus pretium.
             </p>
      </div>
      <div class="col-2">
        <img src="img/layout1.jpg">
      </div>
      <div class="col-4">
         <h3>Rehabilitation Therapy</h3>
             <h4>Industry leading examination of symptoms</h4>
             <p>Pellentesque habitant morbi tristique senectus netus et malesuada fames ac turpis egestas. Donec aliquet posuere vulputate. Aliquam malesuada tortor quis magna pretium sit amet rhoncus risus pretium.
             </p>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <img src="img/layout1.jpg">
      </div>
      <div class="col-4">
         <h3>Diagnosis With Precise</h3>
             <h4>Industry leading examination of symptoms</h4>
             <p>Pellentesque habitant morbi tristique senectus netus et malesuada fames ac turpis egestas. Donec aliquet posuere vulputate. Aliquam malesuada tortor quis magna pretium sit amet rhoncus risus pretium.
             </p>
      </div>
      <div class="col-2">
        <img src="img/layout1.jpg">
      </div>
      <div class="col-4">
         <h3>Rehabilitation Therapy</h3>
             <h4>Industry leading examination of symptoms</h4>
             <p>Pellentesque habitant morbi tristique senectus netus et malesuada fames ac turpis egestas. Donec aliquet posuere vulputate. Aliquam malesuada tortor quis magna pretium sit amet rhoncus risus pretium.
             </p>
      </div>
    </div>
  </div>
  </section>
 <!-- layout-blog  section  end -->
 <!-- comment section start -->
 <!-- <section id="comment">
   <div class="content">
        
        <p>comment</p>
  
        <div class="send send_contact"> 
          <form method="post" action="#" id="contact">
            <input type="text" name="review_name" placeholder="ваше имя">
            <input type="text" name="review_email" placeholder="ваш email">
            <textarea name="review_text"></textarea>
            <input class="btn" type="submit" value="отправить">
          </form>
        </div>
    </div>                
 </section> -->
 
 <!-- comment section end -->
 
</body>
</html>



